<a href="https://colab.research.google.com/github/EllenBurke29/Classification-Model-/blob/main/Classification_Model_for_Halloween_Candy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv("data.csv")
data.head()

  competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0      100 Grand          1       0  ...         0.732         0.860   66.971725
1   3 Musketeers          1       0  ...         0.604         0.511   67.602936
2       One dime          0       0  ...         0.011         0.116   32.261086
3    One quarter          0       0  ...         0.011         0.511   46.116505
4      Air Heads          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

In [ ]:
features=data.iloc[:,1:12]

In [ ]:
print(features.head())

   chocolate  fruity  caramel  ...  pluribus  sugarpercent  pricepercent
0          1       0        1  ...         0         0.732         0.860
1          1       0        0  ...         0         0.604         0.511
2          0       0        0  ...         0         0.011         0.116
3          0       0        0  ...         0         0.011         0.511
4          0       1        0  ...         0         0.906         0.511

[5 rows x 11 columns]

In [ ]:
target=data.iloc[:,1]

In [ ]:
print(target.head())

0    1
1    1
2    0
3    0
4    0
Name: chocolate, dtype: int64

In [ ]:
print(len(target))
print(len(features))

85
85

In [ ]:

trainX,testX,trainY,testY=train_test_split(features,target,test_size=0.30,shuffle=False,random_state=4)

In [ ]:
print(len(trainX))#Training features
print(len(trainY))# Training output

59
59

In [ ]:

print(len(testY))# Gold results you have compare with it
print(len(testX))# Feature based which one has to predict

26
26

In [ ]:
model=KNeighborsClassifier(n_neighbors=3)

In [ ]:
model.fit(trainX,trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
results=model.predict(testX)

In [ ]:
print("This is forcasted results {}".format(results))
print("This is gold results {} \n".format(testY))

This is forcasted results [1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1]
This is gold results 59    1
60    0
61    0
62    1
63    0
64    1
65    1
66    0
67    0
68    0
69    0
70    0
71    0
72    0
73    0
74    1
75    1
76    1
77    1
78    0
79    1
80    0
81    0
82    0
83    0
84    1
Name: chocolate, dtype: int64

In [ ]:
accu_results=accuracy_score(testY,results)

In [ ]:
print(accu_results)
print(accu_results*100)

0.9615384615384616
96.15384615384616

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(trainX, trainY)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = classifier.predict(testX)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(testY, y_pred))

[[16  0]
 [ 0 10]]

In [ ]:
print(classification_report(testY, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      1.00      1.00        10

    accuracy                           1.00        26
   macro avg       1.00      1.00      1.00        26
weighted avg       1.00      1.00      1.00        26

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

KNN_model = KNeighborsClassifier(n_neighbors=3)

In [ ]:
KNN_model.fit(trainX, trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
KNN_prediction = KNN_model.predict(testX)

In [ ]:
print(accuracy_score(KNN_prediction, testY))

0.9615384615384616

In [ ]:
print(classification_report(KNN_prediction, testY))

              precision    recall  f1-score   support

           0       1.00      0.94      0.97        17
           1       0.90      1.00      0.95         9

    accuracy                           0.96        26
   macro avg       0.95      0.97      0.96        26
weighted avg       0.97      0.96      0.96        26

In [ ]:
X =data.iloc[:,1:12]
y =data.iloc[:,1]

In [ ]:
import sklearn as sk
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
RF.fit(X, y)
RF.predict(X.iloc[:,:12])
round(RF.score(X,y), 4)

1.0

We can see from out confusion matrix that out of 26 tests out algorithm did not misclassify any data. 100 accuracy.